@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9f9fb;
}

li.drNucU {
  align-items: center;
  padding-left: 4px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #a8dadc;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #a8dadc !important;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}
